<% provide(:title, @author.name) %>
<hr>
<hr>
<div>
  <div>
    <h2>
      <div>Name: <%= @author.name %></div> 
      <div>Country: <%= @author.country %></div>
      <div>Age: <%= @author.age %></div>
    </h2>
  </div>
</div>
