<% provide(:title, @user.name) %>
<hr>
<hr>
<div>
  <div>
    <h2>
      <div>Name: <%= @user.name %></div> 
      <div>Email: <%= @user.email %></div>
      <div>Phone: <%= @user.phone %></div>
    </h2>
  </div>
</div>
